<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="<%= require('./src/assets/images/logo-64.png') %>" />
  <link rel="apple-touch-icon" href="<%= require('./src/assets/images/logo-64.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./src/assets/images/logo-152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./src/assets/images/logo-180.png') %>">
  <link rel="apple-touch-icon" sizes="167x167" href="<%= require('./src/assets/images/logo-167.png') %>">
  <title>Epicalls</title>
  <% if (htmlWebpackPlugin.options.env === 'production') { %>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'    
}); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T6N32TM');</script>
  <!-- End Google Tag Manager -->
  <% } %>
</head>
<body>
<% if (htmlWebpackPlugin.options.env === 'production') { %>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6N32TM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
<div id="root"></div>
<script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
</body>
</html>
