html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #555759;
  line-height: 1;
  background-color: #f8fafb;
}

.intro {
  width: 400px;
  margin: 150px auto 0;
  text-align: center;
  padding: 100px;
  border: 2px solid gray;
  border-radius: 5px;
}

.bolder {
  font-weight: 500;
}

.shadow {
  box-shadow: 0 0 65px 0 rgba(15, 90, 153, 0.22);
}


.submenu .submenu-desktop{
  display: flex;
  padding: 1rem 0;
}
.submenu .submenu-desktop a {
  font-size: 16px;
  padding: 4px 32px;
  text-decoration: none;
  color: #555759;
}
.submenu .submenu-desktop a.active {
  font-weight: 500;
  color: #37393a;
}
.submenu .submenu-desktop a:not(:last-child) {
  border-right: 1px solid #8e8e8e;
}
  


h2 {
	font-size: 23px;
  color: #3a3c3d;
  font-weight: normal;
  margin-top: 0;
}

.five-px-modal-border-radius > div:first-of-type > div:first-of-type > div:first-of-type {
  border-radius: 5px !important
}

input:invalid {
  box-shadow: none;
}

.is-invisible {
  display: none;
}

.flag-icon {
  width: 1.33333333em;
  height: 1em;
}

.first-row-padding tr:first-child td { padding-top: 16px; }
.last-row-padding tr:last-child td { padding-bottom: 16px; }

.handset-on-green { display: none; cursor: pointer }
table.contacts-table tr:hover .handset-on-green,
table.call-logs-table tr:hover .handset-on-green {
  display: inline-block;
}

table > tfoot > tr > td { vertical-align: middle }

.dial-pad-dialog {
  padding-top: 165px !important;
}


.responsive-table-subname{display: none}
.submenu-mobile {display: none}
@media (max-width: 991px) {
  .submenu .submenu-mobile {display: block}
  .submenu .submenu-desktop {display: none}
  .addWidget{
    margin-top:20px
  }
  
  .responsive-table,
  .responsive-table thead, 
  .responsive-table tbody, 
  .responsive-table td,
  .responsive-table tr{
    display: block; 
    box-sizing: border-box;
  }
  .responsive-table thead tr{
    display: none;
  }
  .responsive-table tbody tr{
    height: auto !important;
  }
  .responsive-table tbody tr td {
    width: 50%;
    display: inline-block;
    padding-bottom: 10px;
    height: auto !important;
  }
  .responsive-table tbody tr td:nth-child(1),
  .responsive-table tbody tr td:nth-child(2){
    padding-top: 20px;
  }

  .responsive-table tbody tr td:nth-child(5),
  .responsive-table tbody tr td:nth-child(6){
    padding-bottom: 0;
    min-height: 60px;
    text-align: center !important;
  }
  .responsive-table tbody tr td:nth-child(7){
    display: none;
  }
  .responsive-table .responsive-table-toggler{
    text-align: center;
    width: 40px !important;
    margin: 14px auto 0
  }
  .responsive-table .responsive-table-subname{
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: rgb(158, 158, 158);
  }
}